html {
  background-color: #0f172a;
  height: 100%;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
  /* background-color: red; */
}
.card {
  padding: 2em;
}
